/*font-set*/
@charset "utf-8";
/* web-font*/

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NanumBarunGothic.eot);
  src: url(fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumBarunGothic.woff2) format('woff2'),
       url(fonts/NanumBarunGothic.woff) format('woff'),
       url(fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/NotoSans-Regular.eot);
  src: url(fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/NotoSans-Regular.woff2) format('woff2'),
       url(fonts/NotoSans-Regular.woff) format('woff'),
       url(fonts/NotoSans-Regular.ttf) format('truetype');
}

/*Reset CSS 1.1*/
* {
	margin: 0;
	padding: 0;
	border: 0 none;
	outline : 0;
	font-size: 12px; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	font: inherit;
	font-family:"돋움","Dotum";
	vertical-align: baseline;
	text-decoration:none;
	color:#181818;
}
html,body{width:100%;height:100%; padding:0; margin:0;}
body {line-height: 1; font-size:12px; color:#181818; background-color:#fafafa; text-align:left;*word-break:break-all;-ms-word-break:break-all;}


a {color:inherit; cursor: pointer;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
button *{position:relative}
button img{left:-3px;*left:auto}
button, img, label, input, select  {vertical-align:middle; line-height:normal;}
button, label{cursor:pointer}
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {white-space:normal;}
dt{display:block;}
hr{display:none;}
img, video {max-width:100%;}
legend{*width:0; display:none;}
ol, ul, dir, menu {list-style: none;}
table {border-collapse: collapse; border-spacing: 0; width:100%; table-layout:fixed; word-break: break-all;}
caption {display:none;}
textarea {overflow: auto; resize: none; white-space:pre}
.clear:afer {content:""; visibility:hidden; display:block; clear:both; height:0;}
.hide {font-size:0; line-height:0; overflow:hidden; visibility:hidden; margin-left:-4000em;}


/* input, button crossbrowersing */
	button,
	html input[type="button"], 
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button; 
		cursor: pointer; 
		*overflow: visible;  
	}
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box; 
		*height: 13px; 
		*width: 13px; 
	}
	input[type="search"] {
		-webkit-appearance: textfield; 
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

/*input*/

/*-------------------------------------------*/

/*폰트*/


/*table*/

select {border: 1px solid #BCBCBC;}


/*텍스트 정렬*/
.t-center {text-align:center;}
.t-left {text-align:left;}
.t-right {text-align:right;}
.fl-l {float:left;}
.fl-r {float:right;}
.fl-l:after, .fl-r:after {content:""; visibility:hidden; display:block; clear:both; height:0;}
.t-bold {font-weight:bold;}






/* ======================== LAYOUT ======================================================================== */
#wrap {width: 100%; height: auto !important; min-height: 100%; position: relative;  min-width:984px; margin:0 auto;overflow-x: hidden;}


.stylish-select .SSContainerDivWrapper {
	margin-top:2px;
	padding:0;
	width:100%;
	position:absolute;
	top:22px;
	left:0;
	z-index:2;
	margin-top:0;
}

/* UL */
.stylish-select ul.newList {
	margin:0;
	list-style:none;
	background:#fff;
	border:1px solid #e81526;
	overflow:auto;
	min-height: 70px;
}
.stylish-select ul.newList * {
	margin:0;
	list-style:none;
}
.stylish-select ul.newList a {
    text-align: left;
	color: #656565;
	text-decoration:none;
	display:block;
	padding:8px;
	font-size: 13px;
	cursor: pointer;
}
.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
}

/* Default fake select container style*/


.select_type1 {display:; vertical-align:top; position: relative;}
.select_type2 {display:inline-block; vertical-align:top; z-index:200; position: relative;}
.select_type3 {display:inline-block; vertical-align:top; z-index:200; position: relative;}

.select_type1 .newListSelected {
	cursor:pointer;
	width:244px;
	height:42px;
	padding-left:14px;
	float:left;
	background:url(../images/select_bg.jpg) no-repeat right top;
	border:1px solid #d2d2d2;
}

.w109 .newListSelected {width:99px !important;}
.w370 .newListSelected {width:360px !important;}
.w1150 .newListSelected {width:1125px !important;}
.w76  .newListSelected {width:63px !important;}

.select_type2 .newListSelected {
	cursor:pointer;
	width:128px;
	height:35px;
	padding-left:10px;
	float:left;
	border:1px solid #d3d3d3;
	background:#fff url(../images/select_bg.jpg) no-repeat right top;
}
.select_type3 .newListSelected {
	cursor:pointer;
	width:741px;
	height:71px;
	padding-left:23px;
	float:left;
	background:#fff url(../images/select_bg2.jpg) no-repeat right top;
}

.select_type1 .newListSelected.newListSelClick {border:1px solid #cacaca; border-bottom:1px solid #ebebeb;background:url(../images/select_bg.jpg) no-repeat right top;}
.select_type1 .newListSelected.newListSelClick.newListSelFocus {border-top:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;background:url(../images/select_bg.jpg) no-repeat right top;}

.select_type3 .newListSelected.newListSelClick {background:url(../images/select_bg2_on.jpg) no-repeat right top;}
.select_type3 .newListSelected.newListSelClick.newListSelFocus {background:url(../images/select_bg2.jpg) no-repeat right top;}

.select_type1 ul.newList {border: 1px solid #cacaca;margin-left: -1px;width:100%; border-top:0;}
.select_type2 ul.newList {border: 1px solid #dcdcdc;margin-left: -1px;width:100%; }
.select_type3 ul.newList {border: 1px solid #dcdcdc;margin-left: -1px;width:100%; }
.select_type1 ul.newList li {height:39px; line-height:39px; border-top:1px solid #ebebeb;}
.select_type1 ul.newList li a {padding:0; padding-left:16px;}





.stylish-select .selectedTxt {
	width:100%;
	overflow:hidden;
	height:34px;line-height:34px;
	font-size:11px;
	padding:0;
	text-align:left;
}

.select_type1 .selectedTxt {
	height:42px;line-height:42px;
	font-size:13px; color:#5a5a5a; 
}

.select_type2 .selectedTxt {
	height:35px;line-height:35px;
	font-size:13px; color:#6c6c6c; font-weight:600;
}

.select_type3 .selectedTxt {
	height:71px;line-height:71px;
	font-size:13px; color:#6c6c6c; font-weight:600;
}



/* Option Highlight */
.stylish-select .highLite {
	
}

/* Option Hover */
.stylish-select .newListHover {
	background:#CCC!important;
	color:#000!important;
	cursor:default;
}

/* Disabled */




/* Optgroup */
.stylish-select .newListOptionTitle {
	font-weight:bold;
	text-indent:5px;
}
.stylish-select .newListOptionTitle ul {
	margin:0;
	padding:0;
}
.stylish-select .newListOptionTitle li {
	font-weight:normal;	
}





.wrap {position:relative; padding-left:260px; width:1220px; border-right:1px solid #e2e2e2; background:#fff;}
.left_menu {position:absolute; left:0; top:0; width:259px; border-right:1px solid #e2e2e2; height:100%;}
.left_menu .lan {position:absolute; left:0; top:19px; width:259px; text-align:center;}
/* 
.left_menu .lan a {display:inline-block; vertical-align:top; height:11px; line-height:11px;font-family: 'Nanum Gothic', 'sans-serif';color:#969696; padding:0 10px;} 
*/
.left_menu .lan a {display:inline-block; vertical-align:top; height:11px; line-height:11px;color:#969696; padding:0 10px;} 
.left_menu .lan a:first-child {border-right:1px solid #e2e2e2;}
.left_menu .lan a.on {color:#ff121f; font-weight:600;}
.logo {padding-top:140px; padding-left:43px; margin-bottom:66px;}
.left_menu .menu {margin-bottom:174px;}
.left_menu .menu li {text-align:center; margin-top:15px;}
.left_menu .menu li:first-child {margin-top:0;}
/*
.left_menu .menu li a.depth1 {font-size:15px; color:#181818; font-weight:600; display:block;height:26px; line-height:26px;font-family: 'Nanum Gothic', 'sans-serif';}
*/
.left_menu .menu li a.depth1 {font-size:15px; color:#181818; font-weight:600; display:block;height:26px; line-height:26px;}
.left_menu .menu li.on a.depth1, .left_menu .menu li:hover a.depth1 {background:#ff121f; color:#fff;}
.left_menu .site {width:138px; margin:0 auto;}
.left_menu .site li {text-align:center; padding-top:24px;}
/* .left_menu .site li:first-child {border-bottom:1px solid #e2e2e2; padding-bottom:17px; font-size:12px; color:#969696; padding-top:0;font-family: 'Nanum Gothic', 'sans-serif';} */
.left_menu .site li:first-child {border-bottom:1px solid #e2e2e2; padding-bottom:17px; font-size:12px; color:#969696; padding-top:0;}
/* .left_menu .site li a {display:block; margin-bottom:14px;font-size:12px; color:#969696;font-family: 'Nanum Gothic', 'sans-serif';} */
.left_menu .site li a {display:block; margin-bottom:14px;font-size:12px; color:#969696;}

.left_menu .menu li .depth2 {padding-left:101px; text-align:left;display: none;}
.left_menu .menu li.on .depth2 {display:block;}
/* 
.left_menu .menu li .depth2 a {display:block; font-size:13px; color:#575656; margin-top:16px;font-family: 'Nanum Gothic', 'sans-serif';} 
*/
.left_menu .menu li .depth2 a {display:block; font-size:13px; color:#575656; margin-top:16px;}
.left_menu .menu li .depth2 a.a1 {line-height:15px;}
.left_menu .menu li .depth2 a:first-child {}
.left_menu .menu li .depth2 a:hover, .left_menu .menu li .depth2 a.on {font-size:13px; color:#ff121f; font-weight:600;}

