@import url("common.css");

/*font-set*/
@charset "utf-8";


.footer {border-top:1px solid #e2e2e2; padding:50px 56px;}
.footer ul {}
.footer ul li {float:left; margin-left:19px;}
.footer ul li:first-child {margin-left:0;}
.footer ul li.foot1 {font-size:11px; color:#949393;}
.footer ul li.foot1 b {font-weight:600; color:#949393;}
.footer ul li.foot2 {font-size:11px; color:#949393; }
.footer ul li.foot2 a {display:inline-block;font-size:11px; color:#949393;}
.footer ul li.foot2 a b {font-size:11px; color:#949393; font-weight:600;}
.footer ul:after {clear:both; margin:0; padding:0; display:block; content:"";}

.icheckbox_square-blue,
.iradio_square-blue {display: inline-block; *display: inline; vertical-align: middle; margin: 0; padding: 0; width: 19px; height: 19px; background: url(../images/blue.png) no-repeat; border: none; cursor: pointer;}
.icheckbox_square-blue {background-position: 0 0;}
.icheckbox_square-blue.hover {background-position: -24px 0;}
.icheckbox_square-blue.checked {background-position: -48px 0;}
.icheckbox_square-blue.disabled {background-position: -72px 0;cursor: default;}
.icheckbox_square-blue.checked.disabled {background-position: -96px 0;}
.iradio_square-blue {background-position: -120px 0;}
.iradio_square-blue.hover {background-position: -144px 0;}
.iradio_square-blue.checked {background-position: -168px 0;}
.iradio_square-blue.disabled {background-position: -192px 0;cursor: default;}
.iradio_square-blue.checked.disabled {background-position: -216px 0;W}

/*
.sub_layout {padding-left:210px; padding-top:140px; padding-right:210px; padding-bottom:95px; min-height: 830px;}
*/
.sub_layout {padding-left:80px; padding-top:140px; padding-right:80px; padding-bottom:95px; min-height: 830px;}
/* 
.sub_title1 {font-size:24px; color:#181818; font-weight:600; margin-bottom:66px;font-family: '';} 
*/
.sub_title1 {font-size:24px; color:#181818; font-weight:600; margin-bottom:66px;} 
.sub_title1 span {display:block; width:17px; height:5px; background:#181818; margin-bottom:7px;}

/* 
.sub_title2 {font-family: '';;font-size:40px; color:#ff121f; padding-bottom:10px; border-bottom:1px solid #555656; margin-bottom:42px;}
.sub_title2 b {font-family: '';font-weight:600; color:#ff121f;}
.sub_title2 span {font-family: '';font-size:20px; color:#ff121f; padding-left:12px;} 
*/
.sub_title2 {font-size:40px; color:#ff121f; padding-bottom:10px; border-bottom:1px solid #555656; margin-bottom:42px;}
.sub_title2 b {font-weight:600; color:#ff121f;}
.sub_title2 span {font-size:20px; color:#ff121f; padding-left:12px;}

.sub01_box1 {margin-bottom:80px;}
/* 
.sub01_box1 h1 {font-size:24px; color:#181818; font-style: italic; margin-bottom:14px;font-family: '';}
.sub01_box1 p {font-size:13px; color:#949393; line-height:20px; font-family: '';}
.sub01_box1 p b {font-size:14px; color:#949393; font-weight:600; font-style:italic;font-family: '';} 
*/
.sub01_box1 h1 {font-size:24px; color:#181818; font-style: italic; margin-bottom:14px;}
.sub01_box1 p {font-size:13px; color:#949393; line-height:20px;}
.sub01_box1 p b {font-size:14px; color:#949393; font-weight:600; font-style:italic;}

/* .img_box1 {text-align:center;} */
.img_box1 {padding-left:150px;}

.sub_title3 {font-size:24px; color:#181818; font-style:italic; padding-bottom:7px; border-bottom:1px solid #555656; margin-bottom:30px; font-weight:normal;font-family: '';}
.sub_title4 {font-size:24px; color:#181818; font-style:italic; padding-bottom:7px; margin-bottom:14px; font-weight:normal; line-height:37px; margin-top:-7px;font-family: '';}

.search_box {background:#f6f6f6; padding-top:29px; padding-bottom:30px; text-align:center; margin-bottom:40px;}
.search_box input[type=text] {width:289px; height:42px; background:#fff; border:1px solid #d2d2d2; margin-right:9px; padding:0 22px; }
.search_box button {width:96px; height:44px; text-align:center; line-height:44px; background:#555; font-size:12px; color:#fff; border:0;}

.sub_tab {margin-bottom:28px;}
.sub_tab a {display:inline-block; vertical-align:top; margin-left:-1px; width:186px; height:42px; text-align:center; line-height:42px; border:1px solid #181818; z-index:10; font-size:12px; color:#181818; position:relative;}
.sub_tab a:first-child {margin-left:0;}
.sub_tab a.on {z-index:100; background:#ff121f; border:1px solid #ff121f; color:#fff; font-weight:600;}

.sub_tab span {display:inline-block; vertical-align:top; margin-left:-1px; width:186px; height:42px; text-align:center; line-height:42px; border:1px solid #181818; z-index:10; font-size:12px; color:#181818; position:relative; cursor:pointer;}
.sub_tab span:first-child {margin-left:0;}
.sub_tab span.on {z-index:100; background:#ff121f; border:1px solid #ff121f; color:#fff; font-weight:600;}

.table1 {width:100%; border-top:1px solid #555656;}
.table1 thead th {vertical-align:middle; text-align:center; height:38px; background:#f6f6f6; border-bottom:2px solid #181818; font-size:13px; color:#252525;}
.table1 thead th.tit {text-align:left; padding-left:30px;}
.table1 thead td {vertical-align:middle; text-align:center; height:38px; background:#f6f6f6; border-bottom:2px solid #181818; font-size:13px; color:#949393;}
.table1 tbody th, .table1 tbody td {vertical-align:middle; height:39px; border-bottom:1px solid #e2e2e2; font-size:13px; color:#949393;}
.table1 tbody th {text-align:center;}
.table1 tbody td {text-align:left; padding-left:14px;}
.table1 tbody tr.f td {cursor:pointer;}
.table1 tbody tr.f td.on {font-weight:600;}
.table1 tbody tr.a {display:none;}
.table1 tbody tr.a td {padding-top:9px; padding-bottom:22px; line-height:24px;}
.table1 tbody td.bo_view {padding:16px 30px 25px 30px; text-align:left; white-space:pre-wrap; font-size:13px; line-height:20px; color:#949393;}

.paging {text-align:center; padding-top:50px;}
.paging a {display:inline-block; vertical-align:top; width:31px; height:31px; border:1px solid #d3d3d3; margin:0 3px;}
.paging span {display:inline-block; vertical-align:top; padding:0 8px;}
.paging span a {text-align:center; line-height:31px; font-size:12px; color:#949393;}
.paging span a.on {border:1px solid #1f1f1f; color:#252525;}


.sub06_box1 {background:#f6f6f6; padding:20px 16px; margin-bottom:50px;}
.sub06_box1 p {padding-left:8px; background:url(../images/dot1.jpg) no-repeat left 5px; font-size:12px; color:#949393; margin-top:9px;}
.sub06_box1 p span {color:#ff121f;}
.sub06_box1 p:first-child {margin-top:0;}


.sub_tit1 {font-size:18px; color:#181818;font-family: ''; font-weight:600;padding-bottom:7px; border-bottom:2px solid #181818; margin-bottom:26px;}
.table2 {}
.table2 tbody th, .table2 tbody td {}
.table2 tbody th {padding-left:5px; vertical-align:top; padding-top:16px; font-weight:600;}
.table2 tbody td {vertical-align:middle; height:44px;padding:4px 0;}
.table2 tbody td input[type=text] {height:44px; box-sizing:border-box; border:1px solid #d2d2d2; padding-left:16px;}
.table2 tbody td textarea {box-sizing:border-box; border:1px solid #d2d2d2; padding:20px; height:313px; width:100%;}
.table2 tbody td p.t1 {font-size:11px; color:#949393; padding-top:11px; padding-left:13px; padding-bottom:20px;}
.w316 {width:316px;}
.w331 {width:331px;}
.w728 {width:728px;}

.table2_2 tbody th {line-height:18px;}
.table2_2 tbody td {vertical-align: top; padding-top: 16px; height:inherit; line-height:18px;}
.table2_2 tbody td a {color:#181818; font-weight:600;}

.table2_3 tbody th {font-weight:normal !important;}

.MultiFile-wrap {width: 568px; height: 44px; border: 1px solid #d2d2d2; box-sizing:border-box; position:relative;}
.MultiFile-list {display:inline-block;vertical-align:top;}
.MultiFile-label {display: inline-block;vertical-align: top; margin-top: 8px;}
.btn_file {background:url(../images/btn_file.jpg) no-repeat right top; height:44px; cursor:pointer;}
.MultiFile-wrap input[type=file] {opacity:0; filter:alpha(opacity=0); width:147px; height:44px;position:absolute; right:-160px; top:-1px;}
.MultiFile-title {display: inline-block; height: 12px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; vertical-align: top; border-right: 0; padding-left: 10px; padding-right: 10px; line-height: 12px; margin-top: 6px;padding-top: 0 !important;}
.MultiFile-remove {display:inline-block;vertical-align:top;margin-left: -6px; margin-top: 6px;}

.mab76 {margin-bottom:76px;}
.sub06_box2 {font-size:11px; color:#949393; line-height:18px; margin-top:-11px; margin-bottom:20px;}
.agree_box {}
.agree_box input {width:19px !important; height:19px !important; border:2px solid #949393; box-sizing:border-box;top:0 !important; left:0 !important;}
.agree_box label {font-size:12px; color:#949393; font-weight:600; line-height:19px; padding-left:7px;}
.mab63 {margin-bottom:63px;}
.btn_area1 {text-align:center;}
.btn_area1 a {display:inline-block; vertical-align:top; width:248px; height:63px; background:#555; border:1px solid #555; font-size:18px; color:#fff; margin:0 6px; line-height:63px;}
.btn_area1 a:first-child {background:none; border:1px solid #d2d2d2; color:#181818;}

.sub_title5 {background:url(../images/sub_title5_bg.jpg) no-repeat left top; padding-top:13px; padding-left:11px;font-size:22px; color:#ff121f;font-family: ''; font-weight:600;}
.mab68 {margin-bottom:68px;}

.sub_txt1 {}
.sub_txt1 p {color:#949393; margin-top:9px;}
.sub_txt1 p:first-child {margin-top:0;}
.mab50 {margin-bottom:50px;}

.sub_title6 {position:relative; height:9px; padding-top:8px; margin-bottom:34px;}
.sub_title6 span {position:absolute; left:0; top:0; font-size:17px; color:#181818; font-weight:600; line-height:17px; font-family: ''; padding-right:9px; background:#fff;}
.sub_title6 strong {display:block; border-top:1px solid #181818;}


.sub06_box3 {position:relative; padding-top:6px; padding-left:150px; margin-bottom:137px;}
.sub06_box3 h1 {font-size:16px; color:#252525; font-weight:600;margin-bottom:13px;}
.sub06_box3 p {font-size:13px; color:#949393; margin-bottom:26px;letter-spacing: -0.01em;}
.sub06_box3 .btn a {margin-right:21px;}
.sub06_box3 .img {position:absolute; left:0; top:0;}
.mat53 {margin-top:53px;}

.sub_title7 {padding-bottom:34px; border-bottom:1px solid #555656; font-family: ''; font-style:italic; font-size:24px; color:#181818; margin-bottom:14px;}
.sub_title7 span {font-size:24px; color:#ff121f; font-weight:600;font-family: '';}

.video_area {}

.sub04_box1 {margin-bottom:85px;}
.sub04_box1 h1 {font-size:22px; color:#181818; font-weight:600; font-style:italic; font-family: ''; margin-bottom:11px;}
.sub04_box1 h2 {font-size:15px; line-height:25px; color:#949393; font-family: ''; margin-bottom:14px;}
.sub04_box1 h2 span {display:block; font-size:12px; color:#949393;font-family: '';}
.sub04_box1 h2 span.s1 {color:#ff121f;}
.sub04_box1 h2 strong {color:#ff121f;font-family: '';}
.sub04_box1 p {font-size:14px; color:#ff121f; font-weight:600; font-family: ''; line-height:26px; margin-bottom:10px;}
.sub04_box1 p a {float:right;}

.sub04_box1_1 {padding-left:360px; margin-top:-39px;}
.sub04_box1_2 {margin-top:-119px;}

/* .sub04_btn {text-align:center;} */
.sub04_btn {margin-left: 120px;}
.sub04_btn a {display:inline-block; vertical-align:top; width:308px; height:63px; text-align:center; line-height:63px; border:1px solid #d2d2d2; margin-right:11px; font-size:18px; color:#181818;}
.sub04_btn2 a {width:358px;}
.matm90 {margin-top:-90px;}


.sub_title7_2 {padding-bottom:8px; border-bottom:1px solid #555656; font-family: ''; font-style:italic; font-size:22px; color:#181818; margin-bottom:30px; line-height:35px;font-weight:normal;}
.sub_title7_2 span {font-size:22px; color:#ff121f; font-weight:600;font-family: '';}
.sub_title7_2 b {font-weight:600;font-family: '';}


.sub05_box1 {margin-bottom:0px;}
.sub05_box1 li {padding-top:50px; padding-bottom:55px;padding-left:292px; position:relative; border-top:1px solid #e2e2e2;}
.sub05_box1 li:first-child {border-top:0;}
.sub05_box1 li h1 {font-size:22px; color:#181818; line-height:30px; font-weight:600; font-family: '';}
.sub05_box1 li p {font-size:15px; line-height:25px; color:#949393; padding-top:15px;font-family: '';}
.sub05_box1 li img {position:absolute; left:88px; top:55px;}

.mab13 {margin-bottom:13px !important;}

.sub05_box2 {margin-bottom:79px;}
.sub05_box2 li {position:relative; padding-top:45px; padding-bottom:21px; border-bottom:1px solid #e2e2e2;}
.sub05_box2 li h1 {font-size:21px; color:#181818; margin-bottom:19px; font-weight:600;font-family: '';}
.sub05_box2 li p {font-family: ''; font-size:15px; line-height:24px; color:#949393;}
.sub05_box2 li a {display:block; width:145px; height:42px; text-align:center; line-height:42px; background:#f6f6f6; border:1px solid #d2d2d2; position:absolute; right:0; bottom:25px;}

.sub05_box3 {background:#f6f6f6; padding:34px 0 45px 48px;}
.sub05_box3 h1 {height:16px; line-height:16px; border-left:4px solid #181818; padding-left:5px;font-size:17px; color:#181818; font-weight:600;font-family: '';  margin-bottom:37px;}
.sub05_box3 ul {}
.sub05_box3 ul li {position:relative; padding-left:64px; padding-top:5px; height:45px;margin-top:22px;}
.sub05_box3 ul li:first-child {margin-top:0;}
.sub05_box3 ul li span.img {position:absolute; left:0; top:0; display:block; width:51px; height:51px; border-radius:51px; overflow:hidden;}
.sub05_box3 ul li h2 {font-size:15px; color:#181818; font-weight:600;font-family: ''; margin-bottom:11px;}
.sub05_box3 ul li div {}
.sub05_box3 ul li div span {display:inline-block; vertical-align:top; line-height:18px;font-size:14px; color:#181818;font-family: ''; }
.sub05_box3 ul li div span img {vertical-align:top; margin-right:7px;}
.w209 {width:209px;}
.w146 {width:146px;}
.mab90 {margin-bottom:90px;}

.sub05_box4 {}
.sub05_box4 dl {margin-left: 70px; float:left; width:263px; display:table; margin-bottom:45px; height:497px;}
.sub05_box4 dl:first-child {margin-left:0;}
.sub05_box4 dl dt {text-align:center;margin-bottom:20px;}
.sub05_box4 dl dd {}
.sub05_box4 dl dd h1 {font-size:15px; color:#181818; font-weight:600;font-family: ''; font-style:italic; margin-bottom:13px;}
.sub05_box4 dl dd p {font-size:13px; color:#949393; line-height:18px; font-family: '';}
.sub05_box4 dl dd p span {font-family: ''; color:#ff121f; font-weight:600;}
.sub05_box4:after {clear:both; margin:0; padding:0; display:block; content:"";}
.mab35 {margin-bottom:35px !important;}

.sub05_box5 {margin-bottom:34px;}
.sub05_box5 li {float:left;margin-left:33px; text-align:center;}
.sub05_box5 li div {margin-bottom:5px;}
.sub05_box5 li p {color:#949393; line-height:22px;font-family: '';}
.sub05_box5 li p b {font-family: '';color:#ff121f; font-weight:600;}
.sub05_box5:after {clear:both; margin:0; padding:0; display:block; content:"";}

.sub05_box6 {}
.sub05_box6 p {background:url(../images/dot2.jpg) no-repeat left 8px; padding-left:9px; font-size:13px; color:#181818; font-weight:600; font-family: ''; line-height:20px; margin-top:7px;}
.sub05_box6 p:first-child {margin-top:0;}
.sub05_box6 p span {display:block;font-family: ''; color:#949393; font-weight:normal;}

.mab80 {margin-bottom:80px;}
ul.sub05_box6 {}
ul.sub05_box6 li {float:left; width:440px;}
ul.sub05_box6 li:first-child {margin-right: 60px;}
ul.sub05_box6 li p {}
.sub05_box6 p b {font-family: ''; color:#ff121f; font-weight:600;}
ul.sub05_box6:after {clear:both; margin:0; padding:0; display:block; content:"";}

.mab70 {margin-bottom:70px;}
.sub_tab2 span {display:inline-block; vertical-align:top; margin-left:-1px; width:132px; height:42px; text-align:center; line-height:42px; border:1px solid #181818; z-index:10; font-size:12px; color:#181818; position:relative; cursor:pointer;}
.sub_tab2 span:first-child {margin-left:0;}
.sub_tab2 span.on {z-index:100; background:#ff121f; border:1px solid #ff121f; color:#fff; font-weight:600;}

.sub05_box7_1 {display:none;}
.sub_tab2_2 span {width:113px;}

.sub05_box8 {padding-top:14px; margin-bottom:24px;}
.sub05_box8 li {float:left;margin-left: 8px;}
.sub05_box8 li p {text-align:center; color:#949393;padding-top:6px;}
.sub05_box8 li:first-child {margin-left:0;}
.sub05_box8:after {clear:both; margin:0; padding:0; display:block; content:"";}
.sub05_box6 p strong.s1 {color:#ff121f;font-family: '';}

.pat0 {padding-top:0 !important;}

.table3 {}
.table3 thead th {text-align:center;vertical-align:middle; height:32px; background:#efefef; color:#949393; font-weight:600;}
.table3 tbody td {vertical-align:middle; border-bottom:1px solid #e2e2e2; padding-left:58px; color:#949393; height:31px;}
.table3 tbody th {vertical-align:middle; border-bottom:1px solid #e2e2e2; text-align:center; color:#949393; height:31px;}

.sub_txt2 {font-size:18px; color:#181818; font-style:italic;font-family: ''; padding-top:7px; margin-bottom:40px;}
.sub_txt2 span {color:#ff121f; font-weight:600;font-family: '';}

.sub07_box1 {}
.sub07_box1 li {position:relative; padding:26px 30px 26px 204px; border-top:1px solid #e2e2e2; min-height:40px;}
.sub07_box1 li:first-child {border-top:0;}
.sub07_box1 li span {font-size:22px; line-height:30px; color:#181818; font-weight:600; position:absolute; left:0; top:21px;font-family: '';}
.sub07_box1 li p {font-size:14px; color:#949393; line-height:23px;font-family: '';}

.sub07_box2 {padding-top:11px; padding-left:380px; position:relative; margin-bottom:58px;}
.sub07_box2 img {position:absolute; left:0; top:0;}
.sub07_box2 h1 {font-size:16px; color:#252525; font-weight:600; margin-bottom:21px;}
.sub07_box2 p {font-size:13px; line-height:20px; color:#949393; margin-bottom:38px;}
.sub07_box2 a {display:block; width:95px; height:31px; background:#f6f6f6; text-align:center; line-height:31px; border:1px solid #d3d3d3; color:#181818;}
.sub07_box2 a span {font-size:21px; color:#181818; display:inline-block; vertical-align:top; line-height:1; margin-top:3px; margin-right:18px;}

.bo_view_btn {padding-top:27px;}
.bo_view_btn a {margin-right:7px;display:inline-block; vertical-align:top;}
.bo_view_btn span {float:right;}
.bo_view_btn span a {margin-right:0; width:62px; height:31px; text-align:center; line-height:31px; border:1px solid #d3d3d3; color:#949393;}

.sub07_box3 {}
.sub07_box3_1 {float:left; width:480px; margin-right:39px; }
.sub07_box3_2 {float:left; width:281px; padding-top:101px;}
.sub07_box3:after {clear:both; margin:0; padding:0; display:block; content:"";}

.sub07_box4 {}
.sub07_box4 h1 {font-size:16px; color:#252525; font-weight:600; margin-bottom:27px;}
.sub07_box4 span {display:block; font-size:13px; color:#949393; margin-bottom:13px;}
.sub07_box4 p {white-space:pre-wrap; font-size:13px; line-height:20px; color:#949393; margin-bottom:19px;}
.sub07_box4 .img {margin-bottom:36px;}

.paging2 {position:relative; padding-top:0;}
.paging2 strong.s1 {position:absolute; left:0; top:0;}
.paging2 strong.s2 {position:absolute; right:0; top:0;}

.sub07_box5 {margin-bottom:34px;}
.sub07_box5 p {font-size:13px; color:#949393; line-height:20px; margin-bottom:11px;}
.sub07_box5 a.btn1 {display:block;width: 95px; height: 31px; text-align: center; line-height: 31px; border: 1px solid #d3d3d3; color: #181818;}
.sub07_box5 p.p1 {color:#252525;}
.sub07_box5 p.p1 span {display:block; font-size:13px; color:#949393;}
.sub07_box5 .img {}

.sub07_box6 {}
.sub07_box6 li {position:relative; padding-left:104px; height:58px; margin-bottom:29px;}
.sub07_box6 li .img {position:absolute; left:0; top:0;}
.sub07_box6 li p {font-size:13px; line-height:20px; color:#252525; margin-bottom: 4px; height: 40px; overflow: hidden;}
.sub07_box6 li span {display:block; font-size:13px; color:#949393;}

.search_box2 {}
.search_box2 input[type=text] {width:204px; height:31px; border:1px solid #d3d3d3; text-indent:15px; margin-right:9px;}
.search_box2 button {width:66px; height:33px; background:#f6f6f6; text-align:center; line-height:33px; border:1px solid #d2d2d2; }

.sub07_box7 {}
.sub07_box7 span {display:inline-block; vertical-align:top; text-align:center; box-sizing:border-box; width:123px; height:123px; line-height:123px; background:#f6f6f6; border-radius:123px; overflow:hidden; border:3px solid #e4e4e4; font-size:15px; color:#181818; font-weight:600;font-family: '';}
.sub07_box7 span.s1 {line-height:20px; padding-top:40px;}
.sub07_box7 span.last {border:3px solid #ff1824; color:#ff121f;}
.sub07_box7 img {vertical-align:top;}
.sub07_box7 p {text-align:right; padding-right:4px; padding-top:30px; font-size:13px; color:#181818;font-family: '';}

.sub03_box1 {}
.sub03_box1 li {position:relative; font-family: ''; font-size:15px; line-height:28px; color:#949393; padding-left:177px;}
.sub03_box1 li span {display:block; position:absolute; left:0; top:0; font-size:22px; line-height:29px; color:#181818; font-family: ''; font-weight:600;}

.sub03_img3 {margin-left:0px; margin-top:-26px; margin-bottom:41px;}

.sub03_box2 {padding-top:-15px;}
.sub03_box2 li {position:relative; padding-left:290px; padding-top:40px; padding-bottom:20px; border-top:1px solid #e2e2e2;}
.sub03_box2 li:first-child {border-top:0;}
.sub03_box2 li .img {position:absolute; left:0; top:40px;}
.sub03_box2 li h1 {font-size:16px; color:#252525; font-weight:600; padding-bottom:7px; border-bottom:2px solid #181818; margin-bottom:18px;}
.sub03_box2 li p {padding-left:13px; font-size:13px; line-height:19px; color:#181818; background:url(../images/dot3.jpg) no-repeat 4px 8px;}
.sub03_box2 li .txt {background:#f6f6f6; margin-top:19px; padding:18px 15px; margin-bottom:13px;}
.sub03_box2 li .txt dl {color:#949393; line-height:20px; width:100%;}
.sub03_box2 li .txt dl dt {float:left; line-height:20px; color:#949393;}
.sub03_box2 li .txt dl dt b {font-weight:600; color:#949393;}
.sub03_box2 li .txt dl dt.d1 {width:36px;}
.sub03_box2 li .txt dl dt.d3 {width:60px;}
.sub03_box2 li .txt dl dd {float:left; line-height:20px; color:#949393;}
.sub03_box2 li .txt dl dd.d2 {width:387px;}
.sub03_box2 li .txt dl dd.t1 {color:#ff121f !important;}
.sub03_box2 li .txt dl dd.d4 {width:363px;}
.sub03_box2 li .txt dl:after {clear:both; margin:0; padding:0; display:block; content:"";}
.sub03_box2 li .btn {text-align:right;}
.sub03_box2 li .btn a {display:inline-block; vertical-align:top; width:95px; height:31px; text-align:center; line-height:31px; background:#f6f6f6; border:1px solid #d3d3d3; }

.sub03_box3 {position:relative; padding-left:354px; padding-top:22px;height:178px; margin-bottom:66px;}
.sub03_box3 .img {position:absolute; left:0; top:0; border:1px solid #dadada;}
.sub03_box3 h1 {font-size:16px; color:#252525; font-weight:600; margin-bottom:31px;}
.sub03_box3 p {padding-left:9px; font-size:13px; line-height:18px; background:url(../images/dot3.jpg) no-repeat left 7px; margin-bottom:18px;}
.sub03_box4 {margin-bottom:100px;}
.sub03_box4 li {position:relative; padding-left:164px; margin-top:22px;}
.sub03_box4 li:first-child {margin-top:0;}
.sub03_box4 li span {position:absolute; left:0; top:0; display:block; font-weight:600;}

.sub03_box5 {}
.sub03_box5 .sub03_box4 {float:left; width:392px; margin-bottom:45px;}
.sub03_box5 .sub03_box4:first-child {width:408px;}
.sub03_box5 .sub03_box4 li {line-height:32px;}
.sub03_box5 .sub03_box4 li span {line-height:22px; top:4px;}
.sub03_box5:after {clear:both; margin:0; padding:0; display:block; content:"";}

.sub03_box6 {text-align:right; padding-bottom:23px; border-bottom:1px solid #e2e2e2;}

.history_area {position:relative; padding-top:50px;}
.history_area h1 {padding-left:293px; margin-bottom:21px;}

.history_area2 {}
.history_area2_1 {float:left; width:400px;padding-top:120px; text-align:right;}
.history_area2_1 ul {padding-right:79px;}
.history_area2_1 ul li {}
.history_area2_1 ul li:first-child {margin-bottom:15px;}
.history_area2_1 ul li h2 {margin-right:-22px; margin-bottom:43px;}
.history_area2_1 ul li h3 {font-size:14px; font-weight:600; font-family: '';}
.history_area2_1 ul li p {color:#949393; line-height:16px; margin-bottom:21px;}

.history_area2_2 {float:left; width:399px; position:relative; border-left:1px solid #d1d1d1;}
.history_area2_2 ul {padding-left:75px;}
.history_area2_2 ul li {}
.history_area2_2 ul li:first-child {margin-bottom:15px;}
.history_area2_2 ul li h2 {margin-bottom:34px;}
.history_area2_2 ul li h3 {font-size:14px; font-weight:600; font-family: '';}
.history_area2_2 ul li h3 strong {font-weight:normal; font-family: '';}
.history_area2_2 ul li p {color:#949393; line-height:16px; margin-bottom:21px;}
.history_area2:after {clear:both; margin:0; padding:0; display:block; content:"";}
.history_area2_2 span {display:block; position:absolute;}
.history_area2_2 span.s1 {width:9px; height:9px; border:3px solid #ff121f; border-radius:15px; left:-8px; top:-4px; background:#fff;}
.history_area2_2 span.s2 {width:9px; height:9px; border-radius:9px; background:#555656; border:5px solid #fff; left:-10px; top:155px;}
.history_area2_2 span.s3 {width:9px; height:9px; border-radius:9px; background:#555656; border:5px solid #fff; left:-10px; top:309px;}
.mab258 {margin-bottom:258px;}
.mab0 {margin-bottom:0 !important;}

.intro_box1 {font-family: ''; font-size:15px; line-height:24px; font-weight:600; padding-top:19px; margin-bottom:50px;}

.intro_box2 {margin-bottom:70px;}
.intro_box2 p {padding-left:14px; font-size:14px; line-height:20px; color:#949393;font-family: ''; margin-top:23px;background:url(../images/dot4.jpg) no-repeat 3px 8px;}
.intro_box2 p:first-child {margin-top:0;}

.intro_box3 {text-align:right; font-size:15px; font-weight:600;font-family: ''; line-height:30px;}
.intro_box3 img {vertical-align:top; margin-left:7px;}

.sub02_box1 {position:relative; padding-left:169px;}
.sub02_box1 .tit {position:absolute; left:0; top:0; font-size:22px; line-height:29px; font-weight:600; font-family: '';}
.sub02_box1 p.t1 {font-size:15px; line-height:24px; color:#949393;font-family: '';}
.mab140 {margin-bottom:140px !important;}
.sub02_box2 {padding-top:30px;text-align:center;}
.sub02_box2 span {display:inline-block; vertical-align:top; text-align:center; margin-left: 26px;}
.sub02_box2 span:first-child {margin-left:0;}
.sub02_box2 span strong {display:block; text-align:center;font-family: '';font-size:14px; line-height:18px; font-weight:600; padding-top:24px;}

.mab100 {margin-bottom:100px;}
.sub02_box3 {padding:42px 0 42px 125px; border:3px solid #d2d2d2; border-radius:15px; margin-top:30px;}
.sub02_box3 li {float:left; }
.sub02_box3 li:first-child {width:365px;}
.sub02_box3 li p {padding-left:8px; background:url(../images/dot2.jpg) no-repeat left 10px; font-size:15px; line-height:20px;font-family: ''; margin-top:24px; font-weight:600;}
.sub02_box3 li p:first-child {margin-top:0;}
.sub02_box3:after {clear:both; margin:0; padding:0; display:block; content:"";}

.sub02_box4 {padding-top:13px;}
.sub02_box4 span {display:inline-block; vertical-align:top; text-align:center;margin-left: 84px;}
.sub02_box4 span:first-child {margin-left:104px;}
.sub02_box4 span strong {display:block;text-align:center;font-family: '';font-size:14px; line-height:18px; font-weight:600; padding-top:12px;}

.movie_area {margin-bottom:50px;}

.sub02_box5 {}
.sub02_box5 h1 {font-size:22px; font-weight:600; font-style:italic;font-family: ''; margin-bottom:8px;}
.sub02_box5 p { color:#949393; margin-bottom:18px;font-family: ''; line-height:25px;}
.sub02_box5 .btn {}
.sub02_box5 .btn a {display:inline-block; vertical-align:top; width:135px; height:42px; background:#f6f6f6; border:1px solid #d2d2d2; margin-right:10px; text-align:center; line-height:42px;}
.mab75 {margin-bottom:75px;}
.mab14 {margin-bottom:14px;}

.sub02_box6 {position:relative; padding-left:237px;}
.sub02_box6 .tit {position:absolute; left:0; top:0;}
.sub02_box6 .tit p {font-size:22px; font-style:italic;font-family: ''; margin-bottom:25px; line-height:30px;}
.sub02_box6 .tit p.p1 {color:#ff121f;}
.sub02_box6 .tit p.p1 span {display:block;font-family: ''; font-size:14px; font-style: normal;}

.mab97 {margin-bottom:97px;}
.table3_2 tbody td {padding-left:0; padding:9px 0; line-height:18px; height:30px; box-sizing:border-box;}

.sub02_tit1 {line-height:13px; font-size:18px; color:#ff121f; font-weight:600;font-family: ''; margin-bottom:40px;}
.sub02_tit1 img {vertical-align:top; margin-right:8px;}

.sub02_box7 {margin-left:-80px;}
.sub02_box7 span {display:inline-block; height:107px; margin-bottom:60px; text-align:center; margin-left:80px; width: 211px;}
.sub02_box7 span strong.img {height:83px;}
.sub02_box7 span strong {display:block;font-family: ''; font-size:12px; color:#969696; font-weight:normal;}
.sub02_box7 span strong b {font-family: ''; color:#181818; font-weight:600; margin-right:7px;}

.sub02_box7_2 {margin-left:-70px !important;}
.sub02_box7_2 span {width:217px; margin-left:70px;}

.sub02_box7_3 {margin-left:-20px !important;}
.sub02_box7_3 span strong.img {height:70px !important;}
.sub02_box7_3 span {width:252px; margin-left:20px;}

.mab18 {margin-bottom:18px !important;}
.w456 {width:456px;}

.w188 {width:188px;}
.w304 {width:304px;}

.MultiFile-intercepted {position:relative;}
.file_txt {position:absolute; left:89px; top:759px; line-height:44px; color:#949393;}
.file_txt2 {position:absolute; left:89px; top:474px; line-height:44px; color:#949393;}

.sub02_box8 {text-align:center; padding-top:180px;}
.sub02_box8 h1 {font-family: ''; font-size:30px; color:#ff121f; font-weight:600; margin-bottom:29px; padding-top:43px;}
.sub02_box8 p {font-family: ''; font-size:18px; margin-bottom:60px;}
.sub02_box8 .btn {}
.sub02_box8 .btn a {display:inline-block;width: 248px;height: 63px;border: 1px solid #d2d2d2;font-size: 18px;margin: 0 6px;line-height: 63px;}

.p_con_tab1 {display:none;}