@import url("common.css");

/*font-set*/
@charset "utf-8";


.main_banner_area {position:relative; padding-left:709px; height:454px; border-bottom:1px solid #e2e2e2; }
.main_banner1 {position:absolute; left:0; top:0; border-right:1px solid #e2e2e2;}
.main_banner2 {}
.main_banner2 li {height:155px; padding-top:71px; background:url(../images/main_banner_bg2.jpg) no-repeat 76px 60px; padding-left:223px;}
.main_banner2 li:first-child {height:156px; border-bottom:1px solid #e2e2e2; background:url(../images/main_banner_bg1.jpg) no-repeat 76px 60px;}
.main_banner2 li h1 {margin-bottom:20px;}
/* 
h1.main_tit1 {font-size:22px; color:#0f0f0f; font-weight:600; font-family: 'Nanum Gothic', 'sans-serif';} 
*/
h1.main_tit1 {font-size:22px; color:#0f0f0f; font-weight:600;} 
h1.main_tit1 span {display:block; width:18px; height:3px; background:#ff121f; margin-bottom:9px;}
.main_banner2 li p {font-size:12px; line-height:18px; color:#949393;}

.main_con_area {height:420px; border-bottom:1px solid #e2e2e2;}
.main_con_area .main_con_1 {float:left; height:386px; width:406px; border-right:1px solid #e2e2e2; padding-top:34px; position:relative;}
.main_con_area .main_con_2 {float:left; height:386px; width:345px; border-right:1px solid #e2e2e2; position:relative; padding-left:30px; padding-right:30px; padding-top:34px;}
.main_con_area .main_con_3 {float:left; height:420px; width:406px; position:relative;}
.main_con_area:after {clear:both; margin:0; padding:0; display:block; content:"";}

.main_con_area .main_con_1 h1.main_tit1 {padding-left:29px;}
.main_con_area .main_con_1 .main-slide2 {}
.main_con_area .main_con_1 .bx-pager {display:none;}
.main_con_area .main_con_1 .bx-controls-direction {position:absolute; right:70px; top:39px;}
.main_con_area .main_con_1 .bx-controls-direction a {display:inline-block; width:32px; height:32px; text-indent:-9999px;}
.main_con_area .main_con_1 .bx-controls-direction a.bx-prev {background:url(../images/prev.jpg) no-repeat left top; margin-right:3px;}
.main_con_area .main_con_1 .bx-controls-direction a.bx-next {background:url(../images/next.jpg) no-repeat left top;}
.main_con_1 .txt {padding:0 30px;}
.main_con_1 .txt h1 {font-size:14px; color:#252525; font-weight:600;  margin-bottom:12px;}
.main_con_1 .txt p {font-size:12px; line-height:17px; color:#949393;}

.main_con_area .main_con_2 h1.main_tit1 {margin-bottom:28px;}
.news_area {}
.news_area h1 {font-size:14px; color:#252525; font-weight:600; margin-bottom:21px;}
.news_area h1 a {font-size:14px; color:#252525; font-weight:600;}
.news_area p {font-size:12px; line-height:17px; color:#949393; height:48px; margin-bottom:18px; overflow:hidden;}
.news_area p a {font-size:12px; line-height:17px; color:#949393;}
.news_area span {display:block; font-size:12px; color:#949393;}
.mab52 {margin-bottom:52px;}

.main_con_area .main_con_3 .news_area {padding-left:21px; padding-right:27px;padding-top:23px;}
.main_con_area .main_con_3 .news_area p {height:}

.main_con_area2 {}
.main_con_4 {float:left; height:227px; width:565px; border-right:1px solid #e2e2e2; background:url(../images/main_con_4.jpg) no-repeat right top;}
.main_con_5 {float:left; height:227px; width:653px; position:relative;}
.main_con_area2:after {clear:both; margin:0; padding:0; display:block; content:"";}
/* 
.main_con_area2 h1 {padding-left:31px; padding-top:29px; font-size:16px; color:#ff121f; font-weight:600;font-family: 'Nanum Gothic', 'sans-serif';} 
*/
.main_con_area2 h1 {padding-left:31px; padding-top:29px; font-size:16px; color:#ff121f; font-weight:600;} 
.main_con_4 h1 {margin-bottom:16px;}
.main_con_4 p {padding-left:31px; font-size:12px; color:#949393; line-height:18px;}

.main_con_5 h1 {margin-bottom:61px;}
.main_con_5 .bx-controls-direction {display:none;}
.main_con_5 .bx-pager {position:absolute; top:31px; right:28px;}
.main_con_5 .bx-pager .bx-pager-item {display:inline-block; vertical-align:top; margin-left:8px;}
.main_con_5 .bx-pager .bx-pager-item a {display:block; width:10px; height:10px; background:#d5d5d5; border-radius:10px; text-indent:-9999px;}
.main_con_5 .bx-pager .bx-pager-item a.active {background:#ff121f;}
.main_con_5 .main-slide2 li {text-align:center;}
.main_con_5 .main-slide2 li a {display:inline-block; vertical-align:top;margin:0 36px;}


/*
.footer {padding-top:52px; border-top:1px solid #e2e2e2; padding-left:45px; padding-bottom:62px;}
.footer ul {}
.footer ul li {float:left; margin-left:74px;}
.footer ul li:first-child {margin-left:0;}
.footer ul li.foot1 {}
.footer ul li.foot1 h1 {font-size:11px; color:#949393; font-weight:600; margin-bottom:7px;}
.footer ul li.foot1 p {font-size:11px; color:#949393; margin-bottom:17px;}
.footer ul li.foot1 span {display:block; font-size:11px; color:#949393;}
.footer ul li.foot2 {padding-top:19px;font-size:11px; color:#949393;}
.footer ul li.foot2 a {display:inline-block;font-size:11px; color:#949393;}
.footer ul:after {clear:both; margin:0; padding:0; display:block; content:"";}
*/



.footer {border-top:1px solid #e2e2e2; padding:50px 56px;}
.footer ul {}
.footer ul li {float:left; margin-left:19px;}
.footer ul li:first-child {margin-left:0;}
.footer ul li.foot1 {font-size:11px; color:#949393; }
.footer ul li.foot1 b {font-weight:600; color:#949393;}
.footer ul li.foot2 {font-size:11px; color:#949393; }
.footer ul li.foot2 a {display:inline-block;font-size:11px; color:#949393;}
.footer ul li.foot2 a b {font-size:11px; color:#949393; font-weight:600;}
.footer ul:after {clear:both; margin:0; padding:0; display:block; content:"";}